<a href="https://colab.research.google.com/github/LilyElizabethJohn/GithubWorkshop/blob/master/StreamLit_Trial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello StreamLit")

Hello StreamLit

Trying out Google Colab

*Trying* **Bold**

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('/content/share-global-forest.csv')

In [7]:
df.head()

        Entity Code  Year  Share of global forest area
0  Afghanistan  AFG  1990                     0.028525
1  Afghanistan  AFG  1991                     0.028578
2  Afghanistan  AFG  1992                     0.028631
3  Afghanistan  AFG  1993                     0.028684
4  Afghanistan  AFG  1994                     0.028738

In [8]:
df2=pd.read_csv('/content/drive/MyDrive/share-global-forest.csv')

In [9]:
df2.head()

        Entity Code  Year  Share of global forest area
0  Afghanistan  AFG  1990                     0.028525
1  Afghanistan  AFG  1991                     0.028578
2  Afghanistan  AFG  1992                     0.028631
3  Afghanistan  AFG  1993                     0.028684
4  Afghanistan  AFG  1994                     0.028738